<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Welcome to our Website</h1>

        <div>
            <a class="btn btn-primary" href="http://127.0.0.1:5000/regPage" role="button">Register</a>
            <a class="btn btn-primary" href="http://127.0.0.1:5000/view" role="button">View Register</a>
            <a class="btn btn-primary" href="http://127.0.0.1:5000/logPage" role="button">Login</a>
            <a class="btn btn-primary" href="http://127.0.0.1:5000/viewLogin" role="button">View Login</a>
        </div>
    </div>
</body>
</html>