<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Login Page</h1>
        <form method="POST" action="/login">
            <table class="table" border="1">
               <tr>
                   <td>email: <input type="email" placeholder="Enter your email" name="email"></td>
                   <td>password: <input type="password" placeholder="Enter your password" name="pw"></td>
               </tr>
                   <td><input type="submit"></td>
               </tr>
            </table>
        </form>
    </body>
</html>