<html>
    <head>
        <title>View Database</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>View your Database</h1>
        <table border="1" class="table">
            <thead>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Gender</td>
                <td>E-Mail</td>
                <td>Password</td>
                <td>DOB</td>
                <td></td><td></td>
            </thead>
            <tbody>
                {% for i in val %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td><a href="{{ url_for('delete', id=i[3]) }}">delete</a></td>
                 <td><a href="{{ url_for('edit', id=i[3]) }}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>